[run]
source = api
omit =
    */venv/*
    */migrations/*
    */tests/*
    */__pycache__/*
    */pytest_cache/*
    */ruff_cache/*
    manage.py
    */wsgi.py
    */asgi.py
    */admin.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    def main\(\):

[html]
directory = coverage_html
